VITE_SUPABASE_URL=https://xxxxxxxxxxxxxxxxxxxx.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...

# Notifications push (Web Push / VAPID)
VITE_VAPID_PUBLIC_KEY=BDsKUhkLNBdS8f9sx1kg2RBJHPqFcMdvKLbZyvsCCy49s0vx4NY1ubBx7dvV1aTOw8xOLCZju9iXeBOrA_dl6Gw
